#navBar
{
    border: 2px solid black;
    position: fixed;
    top: 0;
    margin-top: 14%;
    background-color: black;
    color: white;
    padding: 9px;
}

button
{
    cursor: pointer;
}

.red-bg
{
    background-color: peru;
}

#controllers
{
    margin-left: 12%;
}

.table
{
    border: 1px solid black;
    
}

table.table-naval td
{
    text-align: center;
    border-top: 1px solid black;
    border-right: 1px solid black;
    cursor: pointer;
    
}

.separator
{
    background-color: black;
}

#Batalla-Naval
{
    margin-top: 5%;
}

h1
{
    margin-left: 42%;
    padding-top: 40px;
    
}

#tableroNaval
{
    width: 40%;
    margin-left: 28%;
}

#mainBody
{
    background-color: brown;
}

.startGame
{
    background-color: black;
    border: 1px solid black;
    color:white;
    padding: 8px;
    margin-right: 2%;
}

#scoreL
{
    border: 1px solid black;
    color:white;
    background-color: black;
}

.link
{
    color: white;
    cursor: pointer;
}

table#navUl tr,td
{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 8px;
}