#txtL
{
    color:white;
}

.contDiv
{
    margin-top: 5%;    
    margin-left: 10%;
}

#menuNav
{
    position: fixed;
    top: 0;
    margin-top: 10%;
    background-color: black;
    color: white;
    border: 1px solid white;
}

.lblln
{
    color:white;
}

.lblln:hover
{
    cursor: pointer;
}

#navUl
{
    border: 2px solid black;
    
    
}

table#navUl td:hover,#lblGit
{
    cursor: pointer;
}

button
{
    cursor: pointer;
    outline: none;
}

#textoObj
{
    width: 50%;
    margin-left: 18%;
}

#restoTxt
{
    margin-left: 2%;
}

#nombreap
{
    margin-left: 39%;
}

.msjin
{
    color:black;
    text-align: center;
}

td
{
    padding: 8px;
}

li
{
    padding: 8px;
}

.liEd
{
    margin-left: 15%;
    list-style-type: none;
    
}

#datosEducacion
{
    margin-top: 5%;
}

#datosPersonales
{
    margin-top: 5%;
}

#fotoPerfil
{
    height: 250px;
    width: 250px;
    float: right;
    margin-right: 10%;
    margin-top: 5%;
}

.labldatos
{
    margin-left: 15.5%;
    font-size: 22px;
}

#table1
{
    margin-top: 1%;
    border-collapse: collapse;
    width: 30%;
    margin-left: 15%;
    font-size: 17px;
}

.mySpan
{
    margin-left: 5px;
}

.btn-theme
{
    
    margin-left: -90px;    
    padding: 10px;
    margin-top: 4%;
}

#darkt
{
    background-color: black;
    color:white;
    margin-left: 1%;
    
}




.myLbl
{
    color:black;
}

.inpModal
{
    width: 100%;
}

.divModal
{
    display: inline-block;
    margin-bottom: 5%;
    width: 390px;
}

#lightt
{
    background-color: peru;
    color:black;    
    margin-right: 5px;
    margin-left: 1%;
}

#tituloPrincipal
{
    text-align: center;
    margin-top: 3%;
    margin-left: -3.5%;
    font-size: 45px;
}

#mainBody
{
    background-color: peru;
}